@model XtremeAuto.Models.Seguro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Seguro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoSeguro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoSeguro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plazo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDSeguro }) |
    @Html.ActionLink("Back to List", "Index")
</p>
