@model XtremeAuto.Models.Transaccion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarjeta.NumeroTarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarjeta.NumeroTarjeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venta.IDCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venta.IDCliente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDTransaccion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
