@model XtremeAuto.Models.Venta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Financiamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Financiamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intereses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intereses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aprobacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aprobacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers1.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers1.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carro.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carro.Modelo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDVenta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
